 <section>
 {{#each albums}}
<article> 
<header>
  {{name}}
</header>
<section>
  <img src="{{images.0.url}}" alt="{{name}} cover">
</section>
<footer>
  <a href="/tracklist/{{this.id}}">Check tracklist</a>
</footer>
</article>
 
{{/each}}
   
 </section>