<section class="main-index">
  <article class="left-content">
    <a href="/"><h1 class="title-landing">New <span>Spoty</span></h1>
    <p class="subtitle-landing">The new way to find awesome artists.</p></a>
    <form action="/artists" method="GET" class="form-search" autocomplete="off">
      <input type="text" name="artist" id="artist-input" placeholder="Search some artist...">
      <button type="submit">Search</button>
    </form>
  </article>
  <article class="right-content">
    <img class="landing-img" src="./images/landing.jpg" alt="Landing image">
  </article>
</section>