{{> header title="Tracklist:" }}
<section class="section-gallery tracklist">
  {{#each tracklist}}
  <article class="track-item">
    <p>
      {{name}}
    </p>
      
     <audio src="{{preview_url}}" controls></audio>
  </article>
  {{/each}}
</section>